<link rel="stylesheet" href="/lib/wGrid/wGrid.css" type="text/css"/> 
<script type="module" src="/lib/wGrid/wGrid.js"></script>
<script type="module" src="/script/system/code.js"></script>

<div class="content">
    
    <div class="area">
        <div class="sub-title">
            <span class="text">■ 코드 관리</span>
            <div class="button-box">
                <button id="btnSearch" class="search">조회</button>
            </div>
        </div>
        <div class="search-box">
            <table>
                <colgroup>
                    <col width="100px">
                    <col width="250px">
                    <col width="100px">
                    <col width="*">
                </colgroup>
                <tr>
                    <th scope="col">사용여부</th>
                    <td scope="col"></td>
                    <th rowspan="2">검색</th>
                    <td rowspan="2">
                        <textarea></textarea>
                    </td>
                </tr>
                <tr>
                    <th>그룹코드</th>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>

    <div class="area">
        <!-- <span class="text">■ 공통 코드</span> -->
        <div class="button-box">
            <button id="btnAdd">추가</button>
            <button id="btnRefresh">새로고침</button>
            <button id="btnSave" class="warning">저장</button>
        </div>
    </div>
    <div id="commonCode"></div>
</div>