<link rel="stylesheet" href="/lib/wGrid/wGrid.css" type="text/css"/> 
<script type="module" src="/lib/wGrid/wGrid.js"></script>
<script type="module" src="/script/system/code.js"></script>

<div>
    <div>
        <div class="sub-title">
            <span class="text">■ 공통 코드</span>
            <div class="button-box">
                <button id="btnAdd">추가</button>
                <button id="btnRefresh">새로고침</button>
                <button id="btnSave" class="warning">저장</button>
            </div>
        </div>
        <div id="commonCode"></div>
    </div>
</div>