<link rel="stylesheet" href="/lib/wGrid/wGrid.css" type="text/css"/> 
<script type="module" src="/lib/wGrid/wGrid.js"></script>
<script type="module" src="/script/system/menu.js"></script>

<div>
    <div>
        <div class="sub-title">
            <span class="text">■ 상위 메뉴</span>
            <div class="button-box">
                <button id="topAdd">추가</button>
                <button id="topEdit">편집</button>
                <button id="topRemove">삭제</button>
                <button id="topCancel">취소</button>
                <button id="topSave" class="warning">저장</button>
            </div>
        </div>
        <div id="topMenu"></div>
    </div>
    <div>
        <div class="sub-title">
            <span class="text">■ 하위 메뉴</span>
            <div class="button-box">
                <button>취소</button>
                <button>삭제</button>
                <button>편집</button>
                <button class="warning">저장</button>
            </div>
        </div>
        <div id="subMenu"></div>
    </div>
</div>