<link rel="stylesheet" href="/lib/wGrid/wGrid.css" type="text/css"/> 
<script type="module" src="/lib/wGrid/wGrid.js"></script>
<script type="module" src="/script/system/menu.js"></script>

<div>
    <div>
        <div class="sub-title">
            <span class="text">■ 상위 메뉴</span>
            <div class="button-box">
                <button>취소</button>
                <button>저장</button>
            </div>
        </div>
        <div id="topMenu"></div>
    </div>
    <div>
        <div class="sub-title">
            <span class="text">■ 하위 메뉴</span>
        </div>
        <div id="subMenu"></div>
    </div>
</div>