<link rel="stylesheet" href="/lib/wGrid/wGrid.css" type="text/css"/> 
<script type="module" src="/lib/wGrid/wGrid.js"></script>
<script type="module" src="/script/system/user.js"></script>

<div class="content">
    <div class="area">
        <div class="sub-title">
            <span class="text">■ 사용자 관리</span>
            <div class="button-box">
                <button id="btnRefresh">새로고침</button>
                <button id="btnSave" class="warning">저장</button>
            </div>
        </div>
        <div id="userList"></div>
    </div>
</div>